#squarearea{
    width: 700px;
    height: 300px;
    border: 2px solid black;
    position: relative;
}

.square{
    width: 100px;
    height: 100px;
    background-color: red;
    margin: 10px;
    display: inline-block;
}